{% extends 'base.html' %}

{% block title %}
Blog:Cinema - MOVIE NEWS_Achive
{% endblock %}
{% block extra-style%}
<style>

    .archive a{
        font-size: 20px;
        font-weight: bold;
    }
</style>
{% endblock%}

{% block content %}
<div class="archive">
<p style="font-size: 43px; font-weight: bold;padding-right:1em; ">Archives for {{ day|date:"Y-m-d"}}</p>

    <table>    
        {% for post in object_list %}
        <tr>
            <td class="pl-4">
                <p style="font-size: 30px; padding-right: 40px;"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
            </td>
            <td class="pl-3">{{ post.modify_dt|date:"Y-m-d" }}</td>
        </tr>   
    {% endfor %}
    </table>

</div>
    

{% endblock %}